<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Airport Jammu Satwari Insider</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.ico" rel="icon">
  <link href="img/favicon.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/venobox/venobox.css" rel="stylesheet">
  <link href="vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="neeta1524@gmail.com">contact@Airport Jammu Satwari.com</a>
        <!-- <i class="icofont-phone"></i> +1 5589 55488 55 -->
      </div>
      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a> -->
        <a target="_blank" href="https://twitter.com/LOGIN" class="twitter"><i class="icofont-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/" class="facebook"><i class="icofont-facebook"></i></a>
        <a target="_blank" href="https://www.instagram.com/accounts/login/" class="instagram"><i
            class="icofont-instagram"></i></a>
        <a target="_blank" href="https://web.skype.com/" class="google-plus"><i class="icofont-skype"></i></a>
        <a target="_blank" href="https://www.linkedin.com/login" class="linkedin"><i class="icofont-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Airport Jammu Satwari</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul style="margin-left: 19em;">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#feedback">Feedback</a></li>
          <li><a href="#infrastructure">Infrastructure</a></li>
          <li><a href="#equipments">Equipments</a></li>
          <li><a onclick="onLogout('<%=data.url%>')" style="cursor: pointer;">Logout</a></li>
          <!-- <li><a href="#register">Register</a></li> -->

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative backgroundOpacity" data-aos="fade-up" data-aos-delay="500">
      <h1 class="alignItems">Airport Insider</h1>
      <h2 class="alignItems">You don't need Magic to disappear <br>All you need is a Destination</h2>
      <!-- <h2>All you need is a Destination</h2> -->
      <a href="#about" class="btn-get-started scrollto alignItems">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="img/FamilyAtAirport.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>We will provide you with useful airport information about location, parking, transportation, taxi, car
              rental, airport services and much more.</h3>
            <p class="font-italic">
              Passengers wait for their flights at the airport.
              To put it in more technical terms, it is referred to as all places formed overland or afloat allowing air
              travel and planes to take off and land with necessary technical equipment.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Public transportation between airport and city.</li>
              <li><i class="icofont-check-circled"></i> Good, affordable restaurants.</li>
              <li><i class="icofont-check-circled"></i> Hassle-free travelling with your loved ones.</li>
            </ul>
            <p>
              They know which aspects are most important to the passenger journey and are relentless about delivering on
              these 100% of the time: A spotlessly clean terminal and washrooms.
              Comfortable gate areas. Warm and friendly staff.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">
        <div class="section-title">
          <span>Why us?</span>
          <h2>Why us?</h2>
        </div>
        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <span>01</span>
              <h4>Discover</h4>
              <p>You will find information about everything inside airport </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>Book Ticket</h4>
              <p>Grab tickets over here with exciting offers</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4>Enjoy Travelling</h4>
              <p>Hastle-free check-in and enjoy travelling with your loved ones</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Logos ======= -->
    <div class="section-title">
      <span>Duty-Free retailers</span>
      <h2>Duty-Free retailers</h2>
      <p>Below are some stores and on-the-go food corners of the international brands</p>
    </div>
    <section id="logos" class="clients">

      <div class="container" data-aos="zoom-in">
        <div class="row d-flex align-items-center">
          <% data.logos.forEach(function(item){ %>
            <div class="col-lg-2 col-md-4 col-6">
              <img src="<%=item.logo%>" class="img-fluid" alt="" style="width: 72% !important;">
            </div>
            <%})%>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Everything you need to know about the airports</p>
        </div>

        <div class="row">
          <% data.servicesData.forEach(function(item){ %>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" style="cursor: pointer;"
              onclick="onServiceClick('<%=item.type%>')">
              <div class="icon-box">
                <div class="icon"><i class="<%=item.icon%>"></i></div>
                <h4><a href="">
                    <%=item.title%>
                  </a></h4>
                <p>
                  <%=item.description%>
                </p>
              </div>
            </div>
            <%})%>

              <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up"
            data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-plane-take-off"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Dele cardo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Divera don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Dele cardo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Divera don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Air Tickets Booking</h3>
          <p> Click below button to book air tickets online,avail exciting offers and great discounts on booking tickets
          </p>
          <a class="cta-btn" target="_blank" href="https://www.makemytrip.com/flights/">Book Now</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="gallery" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Gallery</span>
          <h2>Gallery</h2>
        </div>

        <!-- <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> -->

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
          <% data.galleryData.forEach(function(item){ %>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="<%=item.img%>" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>
                  <%=item.title%>
                </h4>
                <p>
                  <%=item.description%>
                </p>
                <a href="<%=item.img%>" data-gall="portfolioGallery" class="venobox preview-link" title="Zoom View"><i
                    class="bx bx-zoom-in"></i></a>
              </div>
            </div>
            <%})%>
        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Team Section ======= -->
    <section id="feedback" class="team">
      <div class="container">

        <div class="section-title">
          <span>Feedback</span>
          <h2>Feedback</h2>
          <p>Here are the reviews from some of our passengers</p>
        </div>

        <div class="row text-carousal">
          <% data.feedbackData.forEach(function(item){ %>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" style="height: 500px;">
              <div class="member">
                <p style="color: black;">
                  "<%=item.content%>"
                </p>
                <h4>- <%=item .author%>
                </h4>
                <span style="color: gray;">
                  <%=item .author_country%>
                </span>
                <div><span class="stars-container stars-90"></span></div>
              </div>

            </div>
            <%})%>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="infrastructure" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Infrastructure</span>
          <h2>Infrastructure</h2>
          <p>Below is the basic infrastructure overview of the airport</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12">
            <img src="img/Airport_infrastructure.png" alt="Infrastructure" height="540" width="1140">
          </div>
        </div>


      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="equipments" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Equipments</span>
          <h2>Equipments</h2>
        </div>

        <!-- <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> -->

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
          <% data.equipments.forEach(function(item){ %>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <%if(typeof item.img=='string' ){%>
                <img src="<%=item.img%>" class="img-fluid" alt="">
                <%}else{%>
                  <img src="<%=item.img[0]%>" class="img-fluid" alt="">
                  <%}%>

                    <div class="portfolio-info">
                      <h4>
                        <%=item.title%>
                      </h4>
                      <!-- <p>
                  <%=item.description%>
                </p> -->
                      <%if(typeof item.img=='string' ){%>
                        <a onclick="onEquipmentClick('<%=item._id%>','<%=data.url%>')" style="cursor: pointer;top: 0.5em;" class="details-link"
                          title="More Details"><i class="bx bx-link"></i></a>
                        <%}else{%>
                          <% item.img.forEach(function(element){ %>
                            <a onclick="onEquipmentClick('<%=item._id%>','<%=data.url%>')" style="cursor: pointer;top: 0.5em;" class="details-link"
                              title="More Details"><i class="bx bx-link"></i></a>
                            <%})%>
                              <%}%>
                    </div>
            </div>
            <%})%>
        </div>

      </div>
    </section><!-- End Portfolio Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h1 class="logo mr-auto"><a href="index.html" style="color: #fff;
                font-size: 32px !important;
                font-weight: 700 !important;
                text-transform: uppercase !important;">Airport Jammu Satwari</a></h1>
              <p>
                Jammu<br>
                <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
                <strong>Email:</strong> it_jammu@aai.aero<br>
              </p>
              <div class="social-links mt-3">
                <a target="_blank" href="https://twitter.com/LOGIN" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a target="_blank" href="https://www.instagram.com/accounts/login/" class="instagram"><i
                    class="bx bxl-instagram"></i></a>
                <a target="_blank" href="https://web.skype.com/" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a target="_blank" href="https://www.linkedin.com/login" class="linkedin"><i
                    class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <div class="col-lg-6 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our Airport Jammu Satwari Newsletter, to get new offers daily</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="button" value="Subscribe" onclick="onSubscribe()">
            </form>
            <div class="mb-3">
              <!-- <div class="error-message" id="err"></div> -->
              <div class="sent-message" id="message"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Airport Jammu Satwari</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
        Designed by <a>Bootstrap</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/venobox/venobox.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

  <!-- Jquery JS Files -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script>
    // api calls using JQuery

    $(document).ready(function () {

      $('.text-carousal').slick({
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: false,
        prevArrow: false,
        nextArrow: false
      });

    });
    $('#Checkboxclick').click(function () {
      if ($('#Checkbox').is(":checked")) {
        $('input[name=check]').trigger('click').prop('checked', false);
      }
      else {
        $('input[name=check]').trigger('click').prop('checked', true);

      }
    })
    function onServiceClick(type) {
      // console.log("type : ", type);
      $.ajax({
        type: 'POST',
        url: "/service?type=" + type,
        success:
          function (data) {
            // console.log('success', data);
            let json = data[0]
            window.open(
              json.link,
              '_blank' // <- This is what makes it open in a new window.
            );
          }
      })
    }

    function onEquipmentClick(id,url) {
      console.log("/equipment-record?id= ", id);
      $.ajax({
        type: 'POST',
        url: "/equipment-record?id=" + id,
        success:
          function (res) {
            console.log('success', res);
            localStorage.setItem('record',JSON.stringify(res))
            // var link = window.location.href.slice(0, 22)
            window.location.href = url + "/equipment?id=" + id
          }
      })
    }

    function onSubscribe() {
      console.log("form data : ", $('form').serializeArray());
      let formArray = $('form').serializeArray()
      let email = formArray[0].value
      console.log(email);
      if (email == "") {
        $('#message').text("Email should not be null")
      }
      else {
        $.ajax({
          type: 'POST',
          url: "/insert-email?email=" + email,
          success:
            function (res) {
              console.log('success', res);
              if (res.message == "success") {
                $("#message").css('display', 'block')
                $('#message').html(res.data)
              } else {
                $("#message").css('display', 'block')
                $('#message').html(res.data)
              }
            }
        })
      }
    }

    function onLogout(url) {
      console.log("window.location.href length ",window.location.href.length,window.location.href.slice(0, 22),url);
      // var logout = window.location.href.slice(0, 22)
      window.location.href = url + '/login'
    }

  </script>
</body>

</html>